<nav class="shadow-class d-flex p-0 flex-column navbar infix-navbar navbar-expand-sm navbar-light bg-white">
  <div class="container-fluid top-header d-flex justify-content-between">
    <div class="d-flex gap-4 ">
      <div class="cursor-pointer d-flex gap-3 align-items-center">
        <i class="fa fa-envelope"></i>
        <span>infixlogistics&#64;gmail.com</span>
      </div>
      <div class="cursor-pointer d-flex gap-3 align-items-center">
        <i class="fa fa-phone"></i>
        <span>+27 (440) 370-877</span>
      </div>
    </div>
    <div class="icon-container">
      <div>
        <i class="cursor-pointer fab fa-facebook"></i>
      </div>
      <div>
        <i class="cursor-pointer fab fa-instagram"></i>
      </div>
      <div>
        <i class="cursor-pointer fab fa-linkedin"></i>
      </div>
      <div>
        <i class="cursor-pointer fab fa-whatsapp"></i>
      </div>
    </div>
  </div>
  <div class="bottom-header w-100 flex flex-wrap items-center justify-between mx-auto">
    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="assets/infix_logo.png" class="company_logo" alt="Flowbite Logo" />
    </a>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col md:p-0 my-2 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 ">
        <li routerLinkActive="active" [routerLink]="['/home']">
          <a  href="/home" class="text-decoration-none block py-2 px-3 text-black bg-blue-700 md:bg-transparent md:p-0" aria-current="page">
            Home
          </a>
        </li>
        <li routerLinkActive="active" [routerLink]="['/about']">
          <a href="/about"  class="text-decoration-none block py-2 px-3 text-black bg-blue-700 md:bg-transparent md:p-0" aria-current="page">
            About Us
          </a>
        </li>
        <li>

          <div class="relative group inline-block">
            <button id="dropdownNavbarLink" class="flex items-center justify-between w-full py-2 px-3 text-gray-900 md:border-0 md:p-0 md:w-auto">
              Services
              <i class="mx-2 fa fa-caret-down"></i>
            </button>

            <!-- Dropdown menu -->
            <div id="dropdownNavbar" class="border-0 overflow-hidden p-0 dropdown-menu absolute hidden z-10 font-normal bg-white divide-y divide-gray-100 rounded-lg shadow">
              <ul class="p-0 w-100 text-sm">
                <li class="py-2 hover:bg-red-300 group">
                  <a href="#" class="text-decoration-none text-black block px-4 py-2 group-hover:text-red">Air Freight</a>
                </li>
                <li class="py-2 hover:bg-red-300 group">
                  <a href="#" class="text-decoration-none text-black block px-4 py-2 group-hover:text-red">Ocean Freight</a>
                </li>
                <li class="py-2 hover:bg-red-300 group">
                  <a href="#" class="text-decoration-none text-black block px-4 py-2 group-hover:text-red">Land Freight</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li routerLinkActive="active">
          <a href="#" class="text-decoration-none block py-2 px-3 text-black bg-blue-700 md:bg-transparent md:p-0" aria-current="page">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>

</nav>



<nav class="bg-white border-gray-200 dark:bg-gray-900">
</nav>

